.home-content-area {
  margin-top: -20px;
}
#home-page {
  margin-bottom: 50px;
}
#cat-drop-stack {
  border: 1px solid #d3d3d3;
  border-top: none;
  padding: 5px 0px 0px;
}
#cat-drop-stack ul li {
  list-style: none;
  margin: 0px 0px 15px -20px;
}
#main-slider {
  height: 270px;
  border: 1px solid #d3d3d3;
}
