.profile-content-area {
	margin-top: -20px;
	font-family: @dokan-font;
}

.pro-widget {
	margin: 20px auto;
}

#store-location {
	border: @dokan-border;
	h3  {
		text-align: center;
		text-transform: uppercase;
		padding: 10px;
		font-size: 14px;
		line-height: 18px;
		font-weight: bold;
		color: #545454;
		margin-top: 0px;
		border-bottom: @dokan-border;
	}
}

.location-frame {
	height: 235px;
}

#contact-seller {
	border: @dokan-border;
	h3  {
		text-align: center;
		text-transform: uppercase;
		padding: 10px;
		font-size: 14px;
		line-height: 18px;
		font-weight: bold;
		color: #545454;
		margin-top: 0px;
		border-bottom: @dokan-border;
	}
}

.seller-form {
	ul  {
		padding: 0px 5px 35px;
		li  {
			margin-bottom: 10px;
			list-style: none;
			-webkit-box-shadow: inset 0px 2px 0px #CACACA;
			box-shadow: inset 0px 2px 0px #CACACA;
			input, textarea {
				border: @dokan-border;
				-webkit-box-shadow: inset 0px 2px 0px #CACACA;
				box-shadow: inset 0px 2px 0px #CACACA;
				color: #545454;
				font-weight: bold;
				text-transform: uppercase;
			}
			input[type="submit"] {
				border: @dokan-border;
				-webkit-box-shadow: 0px 2px 0px #CACACA;
				box-shadow: 0px 2px 0px #CACACA;
				color: #545454;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}

.profile-frame {
	height: 300px;
	width: 830px;
	border: @dokan-border;
	padding: 0px;
	margin-top: 30px;
	margin-left: 20px;
	position: relative;
	background: #e67636;
	opacity: .9;
	overflow: hidden;
	.profile-info-box {
		height: 300px;
		background: #000;
		color: #fff;
		opacity: .9;
		.profile-img {
			height: 130px;
			img {
				background: #000;
				border-radius: 10px;
			}
		}
		.profile-info {
			ul {
				li {
					list-style: none;
					margin-bottom: 3px;
					font-weight: bold;
					.profile-info-icon {
						float: left;
						margin-left: -25px;
						margin-top: 5px;
						text-align: center;
						width: 12px;
					}
					.profile-social {
						margin-top: 10px;
					}
				}
			}
		}
	}
}
.seller-items {
	padding: 0px;
	margin-top: 20px;
	margin-left: -35px;
}