.single-content-area {
	margin-top: -20px;
	font-family: @dokan-font;
}

.single-widget {
	margin: 20px auto;
}

#single-page-container {
	margin: 30px 0px;
}
.entry-summary {
	.label {
	display: none;
	}
	.value select {
		border: 1px solid #d1d1d1;
		padding: 10px 8px;
		border-radius: 5px;
		font-size: 14px;
		color: #545454;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url('images/drop-down-arow.png') no-repeat;
		background-position: 177px 17px;
		width: 205px;
	}
	.product-sku {
		color: #666666;
		margin: 25px 2px;
		span {
			font-weight: bolder;
		}
	}
	.product_title.entry-title {
	color: #363636;
	font-size: 19px;
	line-height: 20px;
	margin: 5px 0px 10px;
	}
	div[itemprop="offers"] {
		margin: 30px 0px;
		.price {
		}

		.amount {
			color: #f04023;
			font-size: 26px;
			font-weight: bolder;
		}
	}

	div[itemprop="description"] {
		margin: 30px 0;
		color: #737373;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
	}

	.reset_variations {
		border: 1px solid #3659a8;
		padding: 10px;
		margin-left: 5px;
		border-radius: 5px;
		background: #3659a8;
		color: #fff;
		font-weight: bold;
	}
	.reset_variations:hover {
		color: #fff;
	}
	.product_meta {
		margin: 15px 2px 0px;
		.posted_in {
			color: #666666;
			a {
				font-weight: bold;
				text-decoration: none;
				color: #666666;
			}
		}
	}
	
	.product-share {
		list-style: none;
		float: left;
		padding-left: 3px;
		margin: 20px 0px;
	}
}

.woocommerce div.product .woocommerce-tabs ul.tabs li[class],
.woocommerce-page div.product .woocommerce-tabs ul.tabs li[class],
.woocommerce #content div.product .woocommerce-tabs ul.tabs li[class],
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li[class] {
  background: #fff;
  border: 1px solid #e0dadf;
  display: inline-block;
  position: relative;
  z-index: 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  margin: 0 -5px;
  padding: 0 1em;
}

.woocommerce div.product .woocommerce-tabs 
ul.tabs li.active, .woocommerce-page 
div.product .woocommerce-tabs 
ul.tabs li.active, .woocommerce 
#content div.product .woocommerce-tabs ul.tabs li.active, 
.woocommerce-page #content div.product 
.woocommerce-tabs ul.tabs li.active {
	background: #fff;
	z-index: 2;
	border-bottom-color: #fff;
	box-shadow: inset 0px 4px 0px #f04023;
	padding: 4px 15px 0px;
}

.woocommerce .site-content div.product .woocommerce-tabs .panel, 
.woocommerce-page .site-content div.product .woocommerce-tabs .panel, 
.woocommerce .site-content #content div.product .woocommerce-tabs .panel, 
.woocommerce-page .site-content #content div.product .woocommerce-tabs .panel {
	margin: -23px 0 2em;
	padding: 10px 15px 10px;
	border: 1px solid #d3d3d3;
	color: #676767;
	font-size: 14px;
	line-height: 26px;
}