// icon Font by icomoon
@font-face {
  font-family: 'dokan-html-icon';
  src:url('fonts/dokan-html-icon.eot');
  src:url('fonts/dokan-html-icon.eot?#iefix') format('embedded-opentype'),
    url('fonts/dokan-html-icon.woff') format('woff'),
    url('fonts/dokan-html-icon.ttf') format('truetype'),
    url('fonts/dokan-html-icon.svg#dokan-html-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'dokan-html-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e603";
}
.icon-heart:before {
  content: "\e604";
}
.icon-card:before {
  content: "\e601";
}
.icon-badge:before {
  content: "\e600";
}
.icon-truck:before {
  content: "\e602";
}
.icon-clipboard:before {
  content: "\e605";
}
.icon-bag:before {
  content: "\e60b";
}
.icon-checkmark:before {
  content: "\e606";
}
.icon-delete:before {
  content: "\e607";
}
.icon-arrow-up:before {
  content: "\e60a";
}
.icon-play:before {
  content: "\e60c";
}
.icon-mail:before {
  content: "\e60d";
}
.icon-map-pin-stroke:before {
  content: "\e60e";
}
.icon-arrow-right:before {
  content: "\e608";
}
.icon-arrow-left:before {
  content: "\e609";
}


// ico moon

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: #222;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #444;
  background: #fafafa;
}
a:hover {
  text-decoration: none;
}
/* Text meant only for screen readers */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */

  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.clearfloat {
  clear: both;
}
.wp-caption {
  border: 1px solid #dddddd;
  max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
  margin-bottom: 1.5em;
}
.wp-caption img {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.site-content .gallery {
  margin-bottom: 1.5em;
}
.site-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}
.site-content .gallery dd {
  margin: 0;
}
.required {
  color: red;
}
/*--------------------------------------------------
:: Header
-------------------------------------------------- */
.site-header {
  padding: 0;
  box-shadow: 0 1px 2px #e9e9e9;
  border-bottom: 1px solid #dedede;
  background: #fff;
  margin-bottom: 20px;
}
.site-header .header {
  margin-bottom: 10px;
  overflow: hidden;
}
.site-header h1.site-title {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 7px;
  padding-bottom: 0px;
  margin-top: 10px;
}
.site-header h1.site-title a {
  color: #cccccc;
  background: url('../images/logo.png') no-repeat 0% 0%;
  width: 300px;
  height: 60px;
  display: block;
  text-indent: -9999px;
}
.site-header h1.site-title a small {
  display: none;
}
.site-header h1.site-title a:hover {
  text-decoration: none;
}
.site-header .divider {
  border-left: 1px solid #dedede;
  border-right: 1px solid #bababa;
}
.site-header .site-navigation {
  position: relative;
  background: #cccccc;
}
.site-header .menu-container {
  margin-bottom: 20px;
  position: relative;
}
.site-header .cart-area-top {
  margin-top: 27px;
  float: right;
}
.site-header .cart-area-top a {
  color: #333;
}
.site-header .cart-area-top li {
  border-right: 1px solid #eee;
  padding: 0 15px 0 5px;
  font-size: 14px;
}
.site-header .cart-area-top li:last-child {
  border-right: 0;
}
.site-header .cart-area-top li.nav-cart-link {
  position: relative;
  border-right: 0;
}
.site-header .cart-area-top li.nav-cart-link .cart-link-price {
  color: #cccccc;
}
.site-header .cart-area-top li.nav-cart-link .cart-items {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 9999;
  border: 1px solid #ddd;
  width: 250px;
  right: 0;
  top: 25px;
  padding: 5px 10px 15px 10px;
}
.site-header .cart-area-top li.nav-cart-link .popover-content {
  width: 250px;
}
.site-header .cart-area-top li.nav-cart-link table {
  width: 100%;
  font-size: 12px;
  margin-bottom: 10px;
}
.site-header .cart-area-top li.nav-cart-link table td.product-thumb {
  width: 15%;
  padding: 5px 0;
}
.site-header .cart-area-top li.nav-cart-link table td.product-thumb img {
  max-width: 32px;
  max-height: 32px;
  border: 1px solid #eee;
  padding: 1px;
  border-radius: 3px;
}
.site-header .cart-area-top li.nav-cart-link table td.product-remove-link {
  padding: 0 10px 0 0;
  width: 5%;
}
.site-header .cart-area-top li.nav-cart-link table td.product-remove-link a.remove {
  color: #fff;
  font-weight: bold;
  background: red;
  border-radius: 500px;
  padding: 1px 5px;
}
.site-header .cart-area-top li.nav-cart-link table td.product-name {
  width: 50%;
  padding: 0 3px;
}
.site-header .cart-area-top li.nav-cart-link table td.product-name a {
  color: #cccccc;
}
.site-header .cart-area-top li.nav-cart-link table td.product-price {
  width: 30%;
  padding: 0 3px;
}
.site-header .cart-area-top li.nav-cart-link a.btn {
  color: #fff;
}
.site-header .menu-container {
  margin-bottom: 0;
}
.dropdown-menu .dropdown-menu {
  top: 0;
  left: 100%;
}
.dropdown-menu .caret {
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #000;
}
.dropdown-menu a:hover .caret {
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.dropdown-menu > li > a.dropdown-toggle:hover,
.dropdown-menu li > a.dropdown-toggle:focus {
  color: #333333;
}
.nav > li.dokan-hide {
  display: none;
}
/*--------------------------------------------------
:: Navbar
-------------------------------------------------- */
.navbar-top-area.navbar {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 20px;
  border-bottom: 1px solid #ddd;
}
.navbar-top-area.navbar-inverse {
  background-color: #f0f0f0;
}
.navbar-top-area .navbar-collapse {
  padding-left: 0;
}
.navbar-top-area li {
  border-right: 1px solid #fff;
  border-left: 1px solid #ccc;
}
.navbar-top-area li:first-child {
  border-left: none;
}
.navbar-top-area li:last-child {
  border-right: none;
}
.navbar-top-area .navbar-nav > li > a {
  font-size: 12px;
  padding: 8px 10px;
  line-height: 15px;
  color: #555;
}
.navbar-top-area .navbar-nav > li > a:hover {
  color: #111;
}
.navbar-default {
  background-color: #fff;
  border: none;
  border-top: 1px solid #eee;
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  min-height: 40px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
}
/*  --------------------------------------------------
:: Navigation
-------------------------------------------------- */
#navigation {
  margin-top: 10px;
  margin-bottom: 10px;
}
#navigation ul,
#navigation ul li,
#navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navigation ul {
  position: relative;
  z-index: 97;
  float: left;
}
#navigation ul li {
  float: left;
  line-height: 1.8em;
  vertical-align: middle;
  zoom: 1;
}
#navigation ul li.hover,
#navigation ul li:hover {
  position: relative;
  z-index: 99;
  cursor: default;
}
#navigation ul li ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#navigation ul ul li {
  float: none;
}
#navigation ul ul ul {
  top: 0px;
  left: 99%;
}
#navigation ul li:hover > ul {
  visibility: visible;
}
/* Default CSS Drop-Down Menu Theme*/
#navigation ul {
  font-weight: normal;
}
#navigation ul li a {
  padding: 7px 15px;
  display: block;
}
#navigation ul li a:link,
#navigation ul li a:visited {
  text-decoration: none;
}
/* -- level mark -- */
#navigation ul li ul {
  width: 200px;
  margin-left: 0px;
}
#navigation ul li ul li ul li ul {
  margin-left: 2px;
}
#navigation ul li ul li {
  margin-top: 0px;
}
#navigation h3 {
  display: none;
}
.site-header #navigation {
  margin: 0;
  display: block;
  font-size: 13px;
}
.site-header #navigation li {
  display: block;
  line-height: 36px;
}
.site-header #navigation li:first-child {
  border-left: none;
}
.site-header #navigation li:last-child {
  border-right: none;
}
.site-header #navigation li a {
  display: block;
  color: #FFF;
  padding: 0 13px;
  white-space: nowrap;
  text-decoration: none;
}
.site-header #navigation li ul.sub-menu {
  opacity: 0;
}
.site-header #navigation li ul.sub-menu li {
  height: 0;
}
.site-header #navigation li:hover {
  background: #f2f2f2;
}
.site-header #navigation li:hover a {
  text-shadow: none;
}
.site-header #navigation li:hover ul.sub-menu {
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity .25s ease .1s;
  -moz-transition: opacity .25s ease .1s;
  -o-transition: opacity .25s ease .1s;
  -ms-transition: opacity .25s ease .1s;
  transition: opacity .25s ease .1s;
  opacity: 1;
}
.site-header #navigation li:hover ul.sub-menu li {
  border-bottom: 1px solid #dddddd;
  -webkit-transition: opacity .25s ease .1s;
  -moz-transition: opacity .25s ease .1s;
  -o-transition: opacity .25s ease .1s;
  -ms-transition: opacity .25s ease .1s;
  transition: opacity .25s ease .1s;
  height: auto;
}
.site-header #navigation li:hover ul.sub-menu li a {
  background: #fff;
  color: #cccccc;
}
.site-header #navigation li:hover ul.sub-menu li a:hover {
  text-shadow: 0 1px 0 #fff;
}
.site-header #navigation li:hover ul.sub-menu li:last-child {
  border-bottom: none;
}
.site-header #navigation li:hover ul.sub-menu li.current_page_item a {
  text-shadow: 0 1px 0 #fff;
}
.site-header #navigation li:focus {
  background: #fff;
}
.site-header #navigation .caret {
  margin-top: 10px;
  margin-left: 5px;
  border-top-color: #fff;
}
.site-header #navigation > ul > li > a:hover {
  text-shadow: none;
}
.site-header #navigation > ul > li {
  border-left: 1px solid #dedede;
  border-right: 1px solid #bababa;
}
.site-header #navigation > ul > li.current-menu-item > a {
  background: #999999;
  text-shadow: none;
  font-weight: bold;
}
.site-header #navigation > ul > li.current-menu-item > a:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.site-header #navigation > ul {
  height: 36px;
}
/*--------------------------------------------------
:: Content
-------------------------------------------------- */
.site-content {
  overflow: hidden;
}
.site-content article {
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}
.site-content article li {
  line-height: 25px;
}
.site-content .entry-header .entry-title {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}
.site-content .entry-header .entry-title a {
  color: #222;
}
.site-content .entry-header .entry-title a:hover {
  text-decoration: none;
  color: #5aabd6;
}
.site-content .entry-content {
  margin-bottom: 15px;
}
.site-content .entry-content h3 {
  border-bottom: 1px solid #c4c4c4;
}
.site-content .entry-meta {
  margin-bottom: 15px;
  font-size: 13px;
}
.site-content .entry-meta .sep {
  color: #c4c4c4;
}
.site-content footer.entry-meta {
  padding-top: 10px;
  border-top: 1px solid #dddddd;
}
.single .site-content article {
  padding-bottom: 0;
}
/*--------------------------------------------------
:: Navigation
-------------------------------------------------- */
#content nav {
  clear: both;
  overflow: hidden;
  padding: 0 0 1.625em;
}
#nav-above {
  padding: 0 0 1.625em;
}
#nav-above {
  display: none;
}
.paged #nav-above {
  display: block;
}
.nav-previous {
  float: left;
  width: 50%;
}
.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
#content nav .meta-nav {
  font-weight: 500;
}
.page-template-templatessettings-php .dokan-banner {
  border: 4px dashed #D8D8D8;
  height: 270px;
  margin: 30px;
  margin-left: 65px;
  max-width: 760px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.page-template-templatessettings-php .dokan-banner img {
  max-width: 100%;
}
.page-template-templatessettings-php .dokan-banner .dokan-remove-banner-image {
  position: absolute;
  width: 100%;
  height: 270px;
  background: #000;
  top: 0;
  left: 0;
  opacity: 0.7;
  font-size: 100px;
  color: red;
  padding-top: 70px;
  display: none;
}
.page-template-templatessettings-php .dokan-banner:hover .dokan-remove-banner-image {
  display: block;
}
.page-template-templatessettings-php .button-area {
  margin-top: 35px;
}
.page-template-templatessettings-php .button-area i.fa-cloud-upload {
  display: block;
  font-size: 80px;
  color: #DFDFDF;
}
.page-template-templatessettings-php .button-area .help-block {
  font-size: 12px;
  color: #B1B1B1;
}
.page-template-templatessettings-php ul.dokan-categories {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-template-templatessettings-php ul.dokan-categories label {
  font-weight: normal;
}
/*--------------------------------------------------
:: Sidebars
-------------------------------------------------- */
.widget {
  margin-bottom: 20px;
}
.widget select {
  max-width: 98%;
}
.widget input[type=text],
.widget input[type=password] {
  max-width: 93%;
}
.widget caption {
  padding: 0 0 5px 0;
}
.widget table {
  width: 100%;
  margin-bottom: 20px;
}
.widget table td,
.widget table th {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.widget table td#today {
  background: #ccc;
  color: #fff;
}
.widget .widget-title {
  margin-bottom: 5px;
  border-bottom: 1px solid #DDD;
  padding: 0 0 10px 0;
}
.widget ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.widget ul li {
  clear: left;
  padding: 5px 0;
  border-bottom: 1px solid #EEE;
}
.widget ul li:last-child {
  border-bottom: none;
}
.widget .avatar {
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget .avatar img {
  border: 1px solid #ccc;
  background: #fff;
}
/*--------------------------------------------------
:: Comments
-------------------------------------------------- */
#comments {
  background: #fff;
  margin-bottom: 15px;
}
#comments .comments-title {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin: 0;
}
#comments .comments-title {
  padding: 15px;
}
#comments #respond {
  padding: 20px;
  margin-bottom: 10px;
  background: #F0F0F0;
}
#comments #respond #cancel-comment-reply-link {
  color: #fff;
  padding: 5px 15px;
  margin-left: 20px;
  background: #cccccc;
}
#comments #respond label {
  display: inline-block;
}
#comments #respond .required {
  color: #E44400;
}
#comments #respond input,
#comments #respond textarea {
  display: block;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
}
#comments #respond input:focus,
#comments #respond textarea:focus {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);
  border-color: #ccc;
}
#comments #respond input[type=submit] {
  border: none;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#comments #respond input[type=text] {
  width: 43%;
  padding: 5px 10px;
}
#comments #respond textarea#comment {
  width: 80%;
  padding: 10px;
}
#comments #respond .form-submit {
  margin: 15px 0;
}
#comments #respond .form-allowed-tags {
  font-size: 12px;
}
#comments #respond code {
  display: block;
  white-space: normal;
  font-size: 11px;
}
#comments ol.commentlist {
  margin: 10px 0;
  list-style: none;
  padding: 0 10px 0 0;
}
#comments ol.commentlist #respond {
  border-top: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#comments ol.commentlist li article.comment {
  position: relative;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  margin: 0px;
  overflow: hidden;
  clear: left;
}
#comments ol.commentlist li article.comment .comment-avatar {
  background: #dddddd;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  float: left;
  padding: 3px;
  height: 81px;
  width: 81px;
  margin: 0 10px 0 0;
}
#comments ol.commentlist li article.comment .comment-avatar img.avatar {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  background: #fff;
}
#comments ol.commentlist li article.comment footer {
  font-size: 13px;
  padding-bottom: 5px;
}
#comments ol.commentlist li article.comment cite.fn {
  font-style: italic;
}
#comments ol.commentlist li article.comment .reply {
  position: absolute;
  top: 10px;
  right: 0;
}
#comments ol.commentlist li article.comment .reply a.comment-reply-link {
  color: #fff;
  padding: 3px 8px;
  background: #cccccc;
  font-size: 13px;
}
#comments ol.commentlist li .comment-content {
  line-height: 150%;
  padding: 10px 0;
}
#comments ol.commentlist li .comment-content ul {
  list-style: disc inside none;
  margin: 4px 0 5px 30px;
}
#comments ol.commentlist li .comment-content li {
  border: none;
  padding: 0;
}
#comments ol.commentlist li ul.children {
  list-style: none;
  overflow: hidden;
  margin: 0;
  clear: left;
}
#comments ol.commentlist li ul.children .depth-2,
#comments ol.commentlist li ul.children .depth-3,
#comments ol.commentlist li ul.children .depth-4,
#comments ol.commentlist li ul.children .depth-5 {
  padding-left: 40px;
  border-left: 1px solid #dddddd;
  background: url(../images/comment-nav.png) 0 45px no-repeat;
  clear: left;
}
#comments ol.commentlist .nocomments {
  padding: 15px;
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
#comments ol.commentlist > li:last-child article.comment {
  border-bottom: none;
}
#comments ol.commentlist li.bypostauthor > article {
  background: #ffffff;
}
/*--------------------------------------------------
:: Product Editor
-------------------------------------------------- */
.dokan-google-map {
  margin: 10px 0;
  height: 250px;
  width: 450px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.toggle-sidebar-container {
  padding: 8px 0;
  border-bottom: 1px solid #DFDFDF;
  margin-bottom: 15px;
}
.dokan-toggle-sidebar .dokan-toggle-selected-display {
  font-weight: bold;
}
.dokan-toggle-sidebar .dokan-toggle-select-container {
  padding-bottom: 8px;
}
.dokan-toggle-sidebar a.dokan-toggle-edit {
  padding: 1px 6px;
  font-size: 10px;
  font-weight: normal;
}
.dokan-toggle-sidebar select {
  border: 1px solid #ccc;
}
.dokan-toggle-sidebar .btn {
  padding: 2px 10px;
}
.dokan-toggle-sidebar a {
  font-size: 12px;
  padding-left: 5px;
}
.update-button-wrap {
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 13px;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu {
  background: #242424;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li {
  margin: 0;
  border-bottom: 1px solid #454545;
  position: relative;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li a {
  padding: 10px 0 10px 18px;
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li a i {
  font-size: 17px;
  padding-right: 15px;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li.active {
  background: #f05025;
  position: relative;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li.active:after {
  left: 92%;
  top: 50%;
  border: transparent solid;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent #fafafa transparent transparent;
  border-left-color: #fff;
  border-width: 16px 16px 16px 0;
  margin-top: -16px;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li:hover {
  background: #f05025;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu {
  background: #fff;
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  right: -100%;
  top: -4px;
  z-index: 99;
  width: 165px;
  display: none;
  border-top: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu a {
  padding: 2px 0 2px 10px;
  font-size: 13px;
  color: #333;
  font-weight: normal;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu a:hover {
  background: #f37655;
  color: #fff;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu li {
  border-bottom: 1px solid #ccc;
}
.dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu li:last-child {
  border-bottom: none;
}
.product-edit-container {
  font-size: 13px;
}
.product-edit-container .tab-pane {
  padding: 15px 0;
}
.product-edit-container label {
  font-weight: normal;
}
.product-edit-container .dokan-feat-image-upload {
  border: 4px dashed #DDDDDD;
  height: 250px;
  width: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.product-edit-container .dokan-feat-image-upload a.close {
  background: #000000;
  color: #FF0000;
  font-size: 100px;
  height: 242px;
  opacity: 0.7;
  padding: 25% 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  width: 242px;
  display: none;
}
.product-edit-container .dokan-feat-image-upload img {
  max-width: 100%;
}
.product-edit-container .dokan-feat-image-upload img:hover a.close {
  display: block;
}
.product-edit-container .dokan-feat-image-upload .image-wrap :hover a.close {
  display: block;
}
.product-edit-container .instruction-inside {
  text-align: center;
  padding-top: 110px;
  color: #aaa;
}
.product-edit-container .wp-editor-wrap {
  border: 1px solid #E7E7E7;
}
.product-edit-container aside {
  border: 1px solid #eee;
  margin-bottom: 15px;
  border-radius: 3px;
}
.product-edit-container .dokan-edit-sidebar {
  margin-top: 35px;
}
.product-edit-container .dokan-edit-sidebar .dokan-side-head {
  background: #eee;
  padding: 5px 10px;
}
.product-edit-container .dokan-edit-sidebar .dokan-side-body {
  padding: 10px;
}
.product-edit-container ul.label-on-left label {
  min-width: 200px;
  display: inline-block;
}
.product-edit-container ul.label-on-left li {
  clear: both;
}
.product-edit-container #product-attributes h4 {
  margin-bottom: 15px;
}
.product-edit-container #variants-holder .inputs-box {
  background: #f5f5f5;
  margin-bottom: 20px;
}
.product-edit-container #variants-holder .inputs-box .box-header {
  background: #e5e5e5;
  padding: 5px 10px;
  font-size: 13px;
  margin-bottom: 10px;
}
.product-edit-container #variants-holder .inputs-box .option-couplet {
  margin-left: 15px;
}
.product-edit-container #variants-holder .inputs-box .option-couplet li:before {
  content: '-';
}
.product-edit-container #variants-holder .inputs-box .option-couplet li {
  margin-bottom: 8px;
}
.product-edit-container #variants-holder .inputs-box .box-inside {
  padding: 10px;
}
.product-edit-container #variants-holder .inputs-box .box-inside .attribute-config {
  width: 35%;
  float: left;
}
.product-edit-container #variants-holder .inputs-box .box-inside .attribute-options {
  float: left;
  width: 60%;
}
.product-edit-container #variants-holder .actions a {
  color: #666;
  padding: 0 4px 2px;
  font-weight: bold;
  border: 1px solid #ddd;
  text-decoration: none;
  background: #fff;
}
.product-edit-container #variants-holder .actions a:hover {
  background: #666;
  color: #fff;
}
.product-edit-container #product-variations .wc-metabox {
  border-radius: 3px;
  background: #f5f5f5;
  margin-bottom: 10px;
  font-size: 13px;
  padding-bottom: 3px;
}
.product-edit-container #product-variations .wc-metabox h3 {
  background: #e5e5e5;
  padding: 5px 10px;
  font-size: 14px;
}
.product-edit-container #product-variations .wc-metabox h3 button {
  float: right;
  font-size: 12px;
}
.product-edit-container #product-variations .wc-metabox table {
  margin: 10px;
}
.product-edit-container #product-variations .wc-metabox table td {
  vertical-align: top;
  width: 50%;
}
.product-edit-container #product-variations .wc-metabox table td.upload_image img {
  width: 73px;
}
.product-edit-container #product-variations .wc-metabox td.data {
  padding: 0 0 0 10px;
  background: #fff;
  margin-left: 20px;
}
.product-edit-container #product-variations .wc-metabox table.data_table {
  margin: 0;
  width: 100%;
}
.product-edit-container #product-variations .wc-metabox table.data_table td.dimensions_field input {
  width: 25%;
}
.product-edit-container #product-variations .wc-metabox table.data_table td {
  padding: 0 6px;
}
.product-edit-container #product-variations .wc-metabox table.data_table label {
  display: block;
}
.product-edit-container #product-variations .wc-metabox label,
.product-edit-container #product-variations .wc-metabox select,
.product-edit-container #product-variations .wc-metabox input {
  font-size: 12px;
}
.product-edit-container #product-variations .wc-metabox select {
  width: auto;
  display: inline-block;
}
.product-edit-container #dokan-product-images ul.product_images {
  margin: 0 0 10px 0;
  padding: 0;
}
.product-edit-container #dokan-product-images ul.product_images li.image,
.product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder {
  width: 75px;
  height: 75px;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
  position: relative;
  margin: 9px 4px 0 0;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 2px;
  cursor: move;
}
.product-edit-container #dokan-product-images ul.product_images li.image img,
.product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder img {
  padding: 0;
  margin: 0;
}
.product-edit-container #dokan-product-images ul.product_images li.image ul.actions,
.product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder ul.actions {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  display: none;
}
.product-edit-container #dokan-product-images ul.product_images li.image ul.actions li,
.product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder ul.actions li {
  list-style: none;
  background: #333;
  border: 1px solid #222;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 1px;
  float: right;
  margin: 0;
  padding: 0 3px;
  font-size: 11px;
}
.product-edit-container #dokan-product-images ul.product_images li.image ul.actions li a,
.product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder ul.actions li a {
  color: #fff;
}
.product-edit-container #dokan-product-images ul.product_images li.image:hover ul.actions,
.product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder:hover ul.actions {
  display: inline-block;
}
.product-edit-container #dokan-product-images ul.product_images li.dokan-sortable-placeholder {
  border: 1px dashed #ccc;
}
.product-edit-container .product-dimension .form-control {
  display: inline-block;
  width: 20%;
  margin-right: 5px;
}
/*--------------------------------------------------
:: Footer
-------------------------------------------------- */
.site-footer {
  border-top: 1px solid #dddddd;
  padding: 20px 0 10px 0;
  color: #666;
  line-height: 200%;
  font-size: 14px;
}
/* jQuery UI Autocomplete
----------------------------------*/
.ui-autocomplete {
  position: absolute;
  cursor: default;
}
.ui-autocomplete-loading {
  background: white;
}
/* workarounds */
* html .ui-autocomplete {
  width: 1px;
}
/* without this, the menu expands to 100% in IE6 */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .2em .4em;
  line-height: 1.5;
  zoom: 1;
  color: #333;
  cursor: pointer;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  margin: -1px;
}
.ui-helper-hidden-accessible {
  display: none;
}
/* Bootstrap Override
----------------------------------*/
.alert {
  padding: 5px 15px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #333;
}
.alert-success {
  border-left: 4px solid #7ad03a;
}
.alert-success strong {
  color: #468847;
}
.alert-danger {
  border-left: 4px solid #b94a48;
}
.alert-danger strong {
  color: #468847;
}
.dokan-hide {
  display: none;
}
span.dokan-loading {
  background: url("../images/wpspin_light.gif") no-repeat;
  float: right;
  height: 16px;
  margin: 5px 5px 0;
  width: 16px;
}
span.error {
  color: #BB0000;
  display: inline-block;
}
/**
 * HiDPI Displays
 */
// @media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
//   .site-header h1.site-title a {
//     background: url('../images/logo@2x.png') no-repeat 0% 0%;
//     background-size: 180px auto;
//   }
// }
/*--------------------------------------------------
:: Responsive Menubar
-------------------------------------------------- */
@media (max-width: 768px) {
  .menu-toggle {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 5px;
  }
  .menu-toggle i.icon-reorder {
    padding: 0 5px 0 0;
    margin-top: 5px;
  }
  .site-header #navigation {
    background: #cccccc;
    width: 100%;
    overflow: hidden;
  }
  #navigation .menu {
    display: none;
  }
  .site-header ul,
  .site-header li {
    float: none
          overflow: hidden;
  }
  .site-header #navigation > ul {
    padding-left: 0;
    float: none;
    overflow: hidden;
  }
  .site-header #navigation li a {
    background: #cccccc;
  }
  .site-header #navigation > ul > li {
    border-left: none;
    border-right: none;
  }
  #navigation ul li {
    float: none;
    display: block;
  }
  #navigation ul li ul {
    position: inherit;
    visibility: visible;
  }
  .site-header #navigation li ul.sub-menu li {
    height: auto;
    opacity: 1;
  }
  .site-header #navigation li ul.sub-menu {
    opacity: 1;
    margin-left: 15px;
    float: none;
  }
}

body {
	background: #f7f7f7;
}

@import "header.less";
@import "homepage.less";
@import "profile.less";
@import "single.less";